h4.header {
    color: #b3b3b3;
    font-weight: bold;
}

h4 {
    padding-left: 20px;
    font-weight: normal;
}

.center_div {
    margin: 0;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%);
}